/* src/componentes/graficos/GraficoLineas.css */
.grafico-lineas {
  padding: var(--espaciado-md);
  flex: 2;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.grafico-titulo {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: var(--espaciado-sm);
  color: var(--texto-principal);
}

.grafico-contenedor {
  position: relative;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-secundario {
  color: var(--texto-secundario);
}
