/* src/componentes/graficos/GraficoBarras.css */
.grafico-barras {
  padding: var(--espaciado-md);
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.d3-contenedor {
  width: 100%;
  height: 250px;
  position: relative;
}

.barra:hover {
  fill: var(--acento-secundario);
  transition: fill 0.3s;
}
